/* ================================ */
/* 🧱 THEME GLOBAL — BACKGROUND ESCURO */
/* ================================ */

:root {
    --bg-dark: #111827;
    /* bg-gray-900 */
    --text-light: #f3f4f6;
    /* gray-100 */
    --bg-medium: #1f2937;
    /* gray-800 */
}

/* ================================ */
/* CORPO DA APLICAÇÃO (body) */
/* ================================ */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--bg-dark);
   
    color: var(--text-light);
  overflow: hidden; 
    /* Remove a barra de rolagem do body */
    
}
mat-sidenav-content {
    background-color: var(--bg-dark);
    color: var(--text-light);
    transition: margin-left 0.3s ease-in-out;
    overflow: hidden; 
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}